table {
    width: 100%;
  }
  
    .payment-amount{
      text-align: center;
    }
    .payment-amount2{
      background: goldenrod;
      color: white;
      border-radius: 10px;
      font-size: 120%;
      padding: 2% 2% 2% 2%;
    }