.consulation-number1 {
    text-align: right;
    }
    .consulation-number2 {
     background: goldenrod;
     color: white;
     display: inline;
     border-radius: 25px;
     padding: 0% 2% 0% 2%;
    }